<h1>とっぷぺーじ</h1>

<style type="text/css">
iframe {
  width: 600px;
  scrolling: auto;
}
iframe.tweet_flat {height:100px}
iframe.tl_flat {height:700px}
</style>

<ul>
<iframe class="tweet_flat" src="/tweets/new"></iframe></br>
<iframe class="tl_flat" src="/tweets/index"></iframe>
</ul>

